# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

video_shader = /opt/retropie/emulators/retroarch/shader/crt/dotmask.glsl
video_shader_enable = false
video_smooth = false
video_scale_integer = "true"
aspect_ratio_index = "22"
input_overlay = /opt/retropie/emulators/retroarch/overlays/effects/scanlines/patrickm-scanlines1920x1080-5x.cfg
video_crop_overscan = false

input_overlay_opacity = "1.000000"
custom_viewport_width = "1600"
custom_viewport_height = "1160"
custom_viewport_x = "0"
custom_viewport_y = "0"

input_remapping_directory = /opt/retropie/configs/pcengine/

#include "/opt/retropie/configs/all/retroarch.cfg"