#include "/opt/retropie/configs/all/retroarch.cfg"
# All settings made here will override the global settings for the current emulator core
input_remapping_directory = /opt/retropie/configs/atarilynx/
video_shader = /opt/retropie/emulators/retroarch/shader/crt-hyllian-sharpness-hack.glsl
video_shader_enable = true
video_smooth = false
