#include "/opt/retropie/configs/all/retroarch.cfg"
# All settings made here will override the global settings for the current emulator core
input_remapping_directory = /opt/retropie/configs/snes/
video_shader = /opt/retropie/emulators/retroarch/shader/snes.glslp
video_shader_enable = true
video_smooth = false
